@layer theme {
  :root {
    /* Layout */
    --layout-content: 1000px;
    --layout-gutter-inline: 24px;

    /* Typography */
    --font-base: arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans JP", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    --font-size-base: 1rem;
    --letter-spacing-base: 0.05em;

    /* Color */
    --color-white: #fff;
    --color-black: #000;
    --color-ring: #2563eb;
  }
}
