@import url("tailwindcss");

@layer reset, base, theme, components, utilities;

@source "../../../**/*.php";
@source "../../**/*.php";
@source "../../../patterns/**/*.php";

@import "./reset.css" layer(reset);
@import "./tokens.css";
@import "./base.css" layer(base);
@import "./typography.css" layer(base);
@import "./utilities.css" layer(utilities);

@theme {
  --font-sans: var(--font-base);
  --color-main-100: #e6f1ff;
  --color-main-200: #cce0ff;
  --color-main-300: #a3c8ff;
  --color-main-400: #7aa0ff;
  --color-main-500: #0a71ef;
}
