@source "../../../**/*.php";
@source "../../**/*.php";
@source "../../../patterns/**/*.php";
@import "tailwindcss";

:root {
  --font-base: arial, hiragino kaku gothic pron, hiragino sans, noto sans jp, sans-serif, segoe ui emoji, segoe ui symbol;
}

@theme {
  --font-base: var(--font-base);
  --font-size-base: 1rem;
  --color-main-100: #e6f1ff;
  --color-main-200: #cce0ff;
  --color-main-300: #a3c8ff;
  --color-main-400: #7aa0ff;
  --color-main-500: #0a71ef;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  body {
    @apply font-base text-base tracking-wide;
  }
}

a {
  @apply no-underline;
}
